:root {
    --color-primary:#ffce00;
    --color-secondary:#ffa300;
    --color-text:#707789;
    --color-bg:#dedede;
    --font-title:coffe;
    --font-text:coffe;
}

* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: var(--font-text)
}

nav {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: var(--color-primary);    
}

nav img {
    margin: 25px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul li {
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--color-text);
    font-size: 30px;
    font-weight: 500px;
    font-family: var(--font-title);
}

nav ul li a:hover{
    color:white;
}

main{
    background-color: var(--color-bg);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding:50px;
}

footer {
    width: 100vw;
    min-height: 150px;
    background-color: var(--color-text);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer img {
    margin: 25px;
}

footer ul {
    list-style-type: none;
    font-size: 15px;
}
footer ul li a{
    color:var(--color-bg);
    text-decoration: none;    
}

@font-face {
    font-family: coffe;
    src: url('../fonts/coffe.ttf');
}

@font-face {
    font-family: cafe;
    src: url('../fonts/cafe.ttf');
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--font-title);
    color: var(--color-text);
}

.about {
    display: flex;
    padding: 25px;
}
.about-content {
    width:360px;
    padding:50px;
}

.photos {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 50%;
    flex-wrap: wrap;
    padding:5px;
}